body {
  font-family: "Avenir Next";
}
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li{
  list-style: none;
}
.header{
  color: #fff;
  height: 200px;
}
.header-img{
  width:cover
}

.header-logo{
  font-size: 36px;
  float: left;
  padding: 20px 40px;

}
.header-list li{
  list-style: none;
  float:left;
  padding: 33px 20px;
}

span{
  color: red;
}
.contents-item{
  float:left;
}

.copy-container h1{
  font-size: 70px;
}
.copy-container h2{
  font-size: 20px;
}
img{
  width:200px;
  height: 200px;

}
.section-title{
  border-bottom: 2px soild black;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contents {
  height: 500px;
  margin-top: 100px;
}
